@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;700&family=Lilex:wght@400;500;700&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "IBM Plex Sans", ui-sans-serif, system-ui, sans-serif;
  --font-mono:
    "Lilex", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --color-base: #101010;
  --color-interface: #1a1a1a;
  --color-overlay: #282828;
  --color-muted: #7e7e7e;
  --color-subtle: #a0a0a0;
  --color-text: #ffffff;
  --color-hightlight-low: #1a1a1a;
  --color-highlight-low: #1a1a1a;
  --color-highlight-medium: #232323;
  --color-highlight-high: #282828;
  --color-coral: #ffc799;
  --color-salmon: #ffc799;
  --color-fennel: #7e7e7e;
  --color-mint: #99ffe4;
  --color-violet: #ffc799;
  --color-sky: #99ffe4;
}

body {
  background-color: var(--color-base);
  color: var(--color-text);
}

@keyframes vim-cursor-blink {
  0%,
  49% {
    opacity: 1;
  }

  50%,
  100% {
    opacity: 0;
  }
}

.vim-cursor {
  animation: vim-cursor-blink 1s steps(1, end) infinite;
}
